body {
    background-color: #0e0e0e;
    font-family: "Roboto",sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background: #22314e;
    height: 75px;
    text-align: left;
    font-size: 20px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-top: 27px;
}

header .logo a {
    background-image: url("images/LOGO2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 40px;
    width: 150px;
    position: relative;
    text-indent: -700000px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 2%;
    margin-left: 1%;
}

/* SECTION SIDE */
.side {
    float: left;
    width: 8%;
    height: 100%;
    background: #19233a;
    z-index: 1;
    top: 1;
    overflow: hidden;
    left: 1;
    position: fixed;
    font-family: "Roboto",sans-serif;;
}

.side ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side li {
    padding: 20px 0 20px 0;
}

.maps a {
    color: #ffa200;
    padding: 12% 33% 12% 33%;
}

.maps a:hover {
    background-color: #212e4b;
    border: 1px solid black;
}

/* SECTION MAIN */
.main {
    background: #0E0E0E;
    float: left;
    height: 100%;
    width: 90%;
    margin-top: 10px;
    margin-left: 8%;
}

section a {
    text-decoration: none;
    color: white;
}

.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 30px;
    text-transform: uppercase;
    line-break: auto;
}

.main li {
    display: inline-block;
    padding-left: 30px;
    color: white;
    padding-top: 30px;
    padding-right: 3%;
}

#dust2 a {
    height: 540px;
    width: 304px;
    background-repeat: no-repeat;
}

#inferno a {
    height: 540px;
    width: 304px;
    background-repeat: no-repeat;
}

#mirage a {
    height: 540px;
    width: 304px;
    background-repeat: no-repeat;
    text-indent: -70000000px;
}

#cache a {
    height: 540px;
    width: 304px;
    background-repeat: no-repeat;
    text-indent: -70000000px;
}

#overpass a {
    height: 540px;
    width: 304px;
    background-repeat: no-repeat;
    text-indent: -70000000px;
}

#nuke a {
    height: 540px;
    width: 304px;
    background-repeat: no-repeat;
    text-indent: -70000000px;
}

#vertigo a {
    height: 540px;
    width: 304px;
    background-repeat: no-repeat;
    text-indent: -70000000px;
}

/** INFO **/
section #about {
    margin: 25px 0 0 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#about .para {
    padding-left: 8%;
    padding-bottom: 1%;
    padding-right: 5%;
}

/** MEDIA CONTROL **/ 
@media screen and (max-width: 1515px) {
    .side {
        width: 0;
        height: 0;
    }
    .side li {
        display: none;
    }
}

@media screen and (max-width: 604) {
    #contact {
        display: none;
    }
}