body {
    background: rgb(75, 72, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(34, 49, 78);
    background-position: center;
    background-size: 100%;
    text-align: center;
    padding: 20px;
    height: 200px;
}

header .mobile a {
    display: none;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px
}

header .logo a {
    background-image: url("images/LOGO2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 80px;
    width: 300px;
    top: -35px;
    position: relative;
    text-indent: -99999999px;
    padding: 40px 0 40px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

@media screen and (max-width: 770px) {
    header .mobile {
        display: inline-block;
    }
    header .desktop {
        display: none;
    }
}

section {
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div {
    margin: auto;
    width: 100px;
    color: white;
    background: blue;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: black;
    padding: 10px 20px;
}

